<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each category.pois}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{description}}
        </td>
        <td class="has-text-centered">
          <div class="tags has-addons is-justify-content-start mb-1">
            <span class="tag is-info is-light">Lat</span>
            <span class="tag is-info">{{location.lat}}</span>
          </div>
          <div class="tags has-addons is-justify-content-start">
            <span class="tag is-success is-light">Lng</span>
            <span class="tag is-success">{{location.lng}}</span>
          </div>
        </td>
        <td>
          <a href="/poi/{{_id}}" class="button mr-1">
            <span class="icon is-small">
              <i class="fas fa-edit"></i>
            </span>
          </a>
          <a href="/category/{{categoryID}}/poi/{{_id}}" class="button">
            <span class="icon is-small">
              <i class="fas fa-trash"></i>
            </span>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
