<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Details</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <!-- expression for value="..." is used to have empty string as default value -->
        <input
          class="input"
          type="text"
          placeholder="Enter Name"
          name="name"
          value="{{#if poi.name}}{{poi.name}}{{else}}{{/if}}"
        />
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
  </div>
  <div class="field-body">
    <div class="field is-expanded">
      <p class="control">
        <input
          class="input"
          type="text"
          placeholder="Enter Description"
          name="description"
          value="{{#if poi.description}}{{poi.description}}{{else}}{{/if}}"
        />
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Location</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <p class="control">
        <input
          class="input"
          type="text"
          placeholder="Latitude (e.g., 53.0)"
          name="lat"
          value="{{#if poi.location.lat}}{{poi.location.lat}}{{else}}{{/if}}"
        />
      </p>
    </div>
    <div class="field is-narrow">
      <p class="control">
        <input
          class="input"
          type="text"
          placeholder="Longitude (e.g., -8.0)"
          name="lng"
          value="{{#if poi.location.lng}}{{poi.location.lng}}{{else}}{{/if}}"
        />
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary">
          <span>Submit Changes</span>
        </button>
      </div>
    </div>
  </div>
</div>
